


<div class="row">
  <div class="col-sm-6">
    <h1>Evaluations</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_evaluation_path, class: 'btn btn-primary' do %>
    Add New Evaluation
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            
      </tr>
    </thead>

    <tbody>
      <% @evaluations.each do |evaluation| %>
        <%= content_tag :tr, id: dom_id(evaluation), class: dom_class(evaluation) do %>
          
            <td><%= link_to evaluation.name, evaluation %></td>
          

          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
